body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav{ 
    display: flex;
    align-items: center;
    gap: 50px;
}

a{ 
    text-decoration: none;
    color: white;
}

.section1{ 
    background-color: #B7B3A5;
}

.right-container { 
    max-width: 100%;
    color: black;
    display: flex;
    gap: 25px;
    padding-right: 100px;
}
.left-container{
    max-width: 50%;
}


.main-texting {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 {
    padding: 25px;
}